* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    background-color: #F0F1F3;
 }
 
 /* icon logo */
.icons {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logoIcon {
    height: 80px;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    border: 1.7px solid black;
    box-shadow: var(--shadow);
}
.search-container:hover input {
    width: 200px;
}
.search-container input {
    width: 32px;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;
}
.search-container input::placeholder {
    color: #000000;
    opacity: 0;
    transition: opacity 0.3s;
}
.search-container input:hover::placeholder {
    opacity: 1;
}
.search-container input:focus::placeholder {
    opacity: 1;
}
.searchIcon {
    height: 30px;
    margin-left: 30px;
    position: absolute;
    top: 6px;
    right: 15px;
}
.profileIcon, .cartIcon {
    height: 32px;
    margin-left: 30px;
    transition: 0.4s;
}
.wishlistIcon {
    height: 28px;
    margin-left: 30px;
    margin-top: 5px;
    transition: 0.4s;
}
  /* hover effect */
.profileIcon:hover, .cartIcon:hover {
    transform: translateY(-20%);
 
 }
.wishlistIcon:hover {
    transform: translateY(-20%);
}
 
  /* header */
header {
    background-color: #ffff;
    height: 100px;
    max-width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.container {
    max-width: 1450px;
    padding: 10px 13px;
    margin: auto;
}
 
  /* logo and brand */
.logoBrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.brandName {
    color: var(--primary);
    font-family: Italiana;
    font-size: 1.7rem;
    font-weight: 200;
    user-select: none;
}
 
  /* navigation design */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navList {
    display: flex;
    list-style: none;
    gap: 90px;
}
a {
    text-decoration: none;
}
.navList a {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.4s;
}
.navList a:hover {
    transform: translateY(-20%);
}

/* end */

.cart-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
}
.icon1{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 130px;
    margin-top: 30px;
    gap: 422px; 
}


.product{
    width: 1266px;
    background-color: #D9D9D9 ;
    margin-left: 37px;
    margin-top: 30px;
    height: 225px;
    margin-bottom: 30px;
}

/* checkbox */
#check{
    width: 28px;
    height: 28px;
    margin-top: 98px;
    margin-left: 100px;
}

/* product image */
#image{
    margin-left: 170px;
    margin-top: -95px; 
}

/* product name */
.productname{
   padding-left: 360px;
   margin-top: -145px;
}

/* line */
.line{
    background-color: black;
    height: 175px;
    width: 1px;
   margin-left: 600px;
    margin-top: -155px; 
}

.DandI {
    background-color:white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
    margin-left: 700px;
    margin-top: -115px;
}

#p{
    margin-top: 8px;
    margin-left: 731px;
    font-weight: bold;
}

.DandI span{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.DandI span.num{
    font-size: 20px;
    border-right: 2px solid rgb(0,0,0,0.2);
    border-left: 2px solid rgb(0,0,0,0.2);
    pointer-events: none;
}



.btns{
    margin-top: -110px;
}
.btn{
    padding-left: 980px;
    margin-bottom: 15px;
}

.btn button{
    width: 175px;
    height: 57px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #CDC8C2;
}

/* scroll bar design */
body::-webkit-scrollbar {
    display: flex;
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 50px;
}