*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    background-color: #F0F1F3;
}
body::-webkit-scrollbar {
    display: flex;
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 50px;
}

/* icon logo */
.logoIcon {
    height: 80px;
}
.searchIcon, .profileIcon, .cartIcon {
    height: 32px;
    margin-left: 30px;
}

/* header */
header {
    background-color: #ffff;
    height: 100px;
    max-width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1000;
}
.container {
    max-width: 1450px;
    padding: 10px 13px;
    margin: auto;
}

/* logo and brand */
.logoBrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.brandName {
    color: var(--primary);
    font-family: Italiana;
    font-size: 1.7rem;
    font-weight: 300;
}

/* navigation design */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList {
    display: flex;
    list-style: none;
    gap: 90px;
}
a {
    text-decoration: none;
}
.navList a {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
}

/* item content */
#radiance-boost-serum {
    height: 70vh;
}
#radiance-boost-serum .container {
    width: 70vw;
    height: 75vh;
    margin: 38px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-info {
    height: 400px;
    width: 35vw;
    background-color: #F8F8F8;
    border-radius: 30px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}
.product-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
}
.title {
    font-size: 1.6rem;
    margin: 25px 0;
}
.ratings {
    display: flex;
    gap: 3px;
}
.ratings img {
    height: 22px;
}
.ratings .price {
    font-size: 1.3rem;
    margin-left: 50px;
}
.product-information {
    display: flex;
    text-align: justify;
    padding: 35px;
}
.total {
    padding: 10px 70px;
    border: 1px solid rgb(172, 172, 172);
}
.total p {
    font-size: 1.3rem;
    font-weight: 600;
}
.item-selection {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.image-container img {
    height: 250px;
}
.quantity-container-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 40px;
    border-radius: 15px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}
.adding-btn, .decreasing-btn {
    font-size: 1.7rem;
    background-color: #F0F1F3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 15px;
}
.quantity-value {
    font-size: 1.2rem;
    display: flex;
    padding: 0 15px;
}
.line {
    height: 20px;
    width: 5px;
    background-color: #878C8F;
}
.button-container {
    height: 100px;
    width: 300px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-to-cart-btn, .buy-now-btn {
    font-size: 1.1rem;
    font-weight: 600;
    height: 50px;
    width: 125px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    cursor: pointer;
    border: none;
}

/* product description */
#product-description {
    max-width: 100%;
    height: 85vh;
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#product-description .description {
    width: 90vw;
    max-height: 85vh;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid black;
}
.description h1 {
    font-size: 1.8rem;
    margin: 0 0 20px 0;
}
.description p {
    font-size: 1.1rem;
    text-align: left;
}
.description b {
    font-size: 1.2rem;
    text-align: left;
}

/* recommendations-section */
#recommendation-section {
    position: relative;
}
#recommendation-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.recommendation-content {
    width: 100%;
    height: 70vh;
}
.recommendations {
    font-size: 2rem;
    padding: 0 20px;
}
.recommended-items {
    max-width: 100%;
    display: flex;
    height: 63vh;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.recommended-items::-webkit-scrollbar { display: none;
}
.recommended-item-1 {
    width: 300px;
    height: 50vh;
    margin: 20px;
    border-radius: 20px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    flex: 0 0 auto;
}

/* recpmmended-product-item */
.recommended-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}
.recommended-product-image img {
    height: 190px;
}
.recommended-product-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.recommended-item-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.recommended-product-item-price {
    display: flex;
    margin: 10px 20px;
}
.recommended-product-item-price p {
    font-size: 1.1rem;
    font-weight: 600;
}
.recommended-rate {
    display: flex;
    gap: 3px;
    margin: 12px 20px;
}
.recommended-rate img {
    height: 20px;
}
.item-btn {
    display: flex;
    justify-self: flex-end;
    margin-right: 10px;
}
.view-more-btn {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #E3E3E3;
    color: var(--primary);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}
.btn-background {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
}
.arrowIcon {
    height: 25px;
}
