:root {
    --primary: #000000;
    --secondary: #4A4A4A;
    --background: #CDC8C2;
    --btn: #878C8F;
    --shadow: box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    background-color: #F0F1F3;
 }
 
 /* icon logo */
.icons {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logoIcon {
    height: 80px;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    border: 1.7px solid black;
    box-shadow: var(--shadow);
}
.search-container:hover input {
    width: 200px;
}
.search-container input {
    width: 32px;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;
}
.search-container input::placeholder {
    color: #000000;
    opacity: 0;
    transition: opacity 0.3s;
}
.search-container input:hover::placeholder {
    opacity: 1;
}
.search-container input:focus::placeholder {
    opacity: 1;
}
.searchIcon {
    height: 30px;
    margin-left: 30px;
    position: absolute;
    top: 6px;
    right: 15px;
}
.profileIcon, .cartIcon {
    height: 32px;
    margin-left: 30px;
    transition: 0.4s;
}
.wishlistIcon {
    height: 28px;
    margin-left: 30px;
    margin-top: 5px;
    transition: 0.4s;
}
  /* hover effect */
.profileIcon:hover, .cartIcon:hover {
    transform: translateY(-20%);
 
 }
.wishlistIcon:hover {
    transform: translateY(-20%);
}
 
  /* header */
header {
    background-color: #ffff;
    height: 100px;
    max-width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.container {
    max-width: 1450px;
    padding: 10px 13px;
    margin: auto;
}
 
  /* logo and brand */
.logoBrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.brandName {
    color: var(--primary);
    font-family: Italiana;
    font-size: 1.7rem;
    font-weight: 200;
    user-select: none;
}
 
  /* navigation design */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navList {
    display: flex;
    list-style: none;
    gap: 90px;
}
a {
    text-decoration: none;
}
.navList a {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.4s;
}
.navList a:hover {
    transform: translateY(-20%);
}

/* categories */
#category-product-section .welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-content .title {
    font-size: 2rem;
    padding: 60px;
    user-select: none;
}
#category-container-section {
    display: flex;
}
.category-left-panel {
    width: 25%;
    height: 95vh;
    border-right: 1.5px solid #939393;
}
.category-right-panel {
    width: 100%;
    height: 1135px;
    overflow: hidden;
}

/* category-left-panel-container */
.title-cetegories {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.line {
    width: 70%;
    height: 1.7px;
    background-color: rgb(210, 206, 206);
    margin: 20px 0;
}
.checkbox-list {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    margin: 20px 50px;
} 
.category-checkbox { 
    display: flex; 
    align-items: center; 
    margin-bottom: 20px;
    cursor: pointer;
}  
.category-checkbox input { 
    position: relative; 
    margin-right: 20px;
    cursor: pointer;
    width: 18px;
    height: 18px;
} 
.checkbox-title { 
    font-size: 1.1rem; 
    line-height: 1.5;
    user-select: none;
}
.brand-cetegories {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

/* category-right-panel-container */
.product-content {
    max-height: 155vh;
    display: flex;
    flex-direction: column;
}
.brand-title-1 {
    margin: 15px;
}
.brand-1 h1 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0 60px 30px;
    user-select: none;
}
.brand-title-2 {
    margin: 15px;
}
.brand-2 h1 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 30px;
    user-select: none;
}
.product-brand-1 {
    max-width: 100%;
    margin-left: 15px;
    height: 132vh;
    padding: 30px 0;
    margin: -50px 0;
    align-items: center;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* border: 1px solid black; */
}
.product-brand-1::-webkit-scrollbar {
    display: none;
}
.product-brand-2 {
    max-width: 100%;
    margin-left: 15px;
    height: 132vh;
    padding: 30px 0;
    margin: -20px 0;
    /* position: relative; */
    align-items: center;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* border: 1px solid black; */
}
.product-brand-2::-webkit-scrollbar {
    display: none;
}
.item {
    width: 330px;
    height: 420px;
    margin: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    flex: 0 0 auto;
    user-select: none;
    cursor: pointer;
}
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}
.product-image img {
    height: 230px;
    user-select: none;
    cursor: pointer;
}
.product-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.item-1 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.product-item-price {
    display: flex;
    margin: 17px 25px;
}
.item-1-price {
    font-size: 1.5rem;
    font-weight: 600;
}
.stars {
    display: flex;
    gap: 5px;
    margin: 0 20px;
    cursor: pointer;
}
.starIcon1 {
    height: 20px;
    user-select: none;
    cursor: pointer;
}
.item-btn {
    /* margin-right: 15px; */
}
.view-more-btn {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background: #efefef;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}
.btn-background {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
}
.arrowIcon {
    height: 25px;
    transform: rotate(-30deg);
}
.pagination-1 {
    list-style: none;
    margin: 55px 0 0 0;
    display: flex;
    justify-content: center;
}
.page-dot {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}
.page-dot.active {
    background-color: rgb(103, 103, 103);
}
.page-dot-2{
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}
.page-dot-2.active {
    background-color: rgb(103, 103, 103);
}

/* styles for brand-2 pagination */
.pagination {
    list-style: none;
    margin: 25px 0;
    display: flex;
    justify-content: center;
}
.page-dot {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}
.page-dot.active {
    background-color: rgb(103, 103, 103);
}
.page-dot-2{
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}
.page-dot-2.active {
    background-color: rgb(103, 103, 103);
}
/* recommendations-section */
#recommendation-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.recommendation-content {
    width: 100%;
    height: 70vh;
    /* border: 1px solid black; */
}
.recommendations {
    font-size: 2rem;
    padding: 0 20px;
    user-select: none;
}
.recommended-items {
    max-width: 100%;
    display: flex;
    height: 63vh;
    overflow-x: auto;
    white-space: nowrap;
}
.recommended-items::-webkit-scrollbar { display: none;
}
.recommended-item-1 {
    width: 300px;
    height: 388px;
    margin: 20px;
    border-radius: 20px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    flex: 0 0 auto;
    user-select: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

/* recommended-product-item */
.recommended-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}
.recommended-product-image img {
    height: 190px;
    user-select: none;
    cursor: pointer;
}
.recommended-product-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    user-select: none;
    cursor: pointer;
}
.recommended-item-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 10px 0;
    user-select: none;
    cursor: pointer;
}
.recommended-product-item-price {
    display: flex;
    margin: 10px 20px;
    user-select: none;
    cursor: pointer;
}
.recommended-product-item-price p {
    font-size: 1.1rem;
    font-weight: 600;
}
.recommended-rate {
    display: flex;
    gap: 3px;
    margin: 12px 20px;
}
.recommended-rate img {
    height: 20px;
    user-select: none;
    cursor: pointer;
}
.item-btn {
    display: flex;
    justify-self: flex-end;
    margin-right: 10px;
}
.arrowIcon {
    height: 25px;
}
.recommendation-pagination {
    margin: -15px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.recommendation-page-dot {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}
.recommendation-page-dot.active {
    background-color: rgb(103, 103, 103);
}

/* footer */
#footer {
    width: 100%;
    height: 35vh;
    background-color: #434343;
}
#footer .footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .socials {
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}
.socials .line {
    width: 50vw;
    border: 0.5px solid rgb(222, 222, 222);
}
.socialIcons {
    height: 20px;
    user-select: none;
}
#footer .textContent {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* border: 1px solid white; */
}
#footer .textContent .title {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: Italiana;
    user-select: none;
}
.copyright {
    font-size: 0.7rem;
    color: white;
    letter-spacing: 1px;
    margin-top: 18px;
    user-select: none;
}
.linkSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 45px;
}
.linkContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.link {
    font-size: 0.8rem;
    color: white;
    letter-spacing: 1px;
    text-decoration: underline;
    user-select: none;
}
.barrier {
    font-size: 1rem;
    color: rgb(222, 222, 222);
    letter-spacing: 1px;
}

/* scroll bar design */
body::-webkit-scrollbar {
    display: flex;
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 50px;
}